<% var defaultBg = '#4d4d4d'; %>
<div class="overlay" style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="<%=theme.root%>" class="profilepic">
			<img src="<%=theme.avatar%>" class="js-avatar">
		</a>
		<hgroup>
		  <h1 class="header-author"><a href="<%=theme.root%>"><%=theme.author%></a></h1>
		</hgroup>
		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
	        <%}%>
			</ul>
		</nav>
		<nav class="header-smart-menu">
    		<% for (var i in theme.smart_menu){ %>
    			<% if(theme.smart_menu[i]){ %>
    			<a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
    			<% } %>
            <%}%>
		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subnav){ %>
					<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
		        <%}%>
			</div>
		</nav>
		<script class="jquery library" src="https://cdn.bootcss.com/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
		<script type="javascript">
			/*一言API*/
			function hitokoto(e) {
				$("#hitokoto").stop().fadeOut(function() {
					$("#hitokoto").html(e.hitokoto);
					var element = document.getElementById('hitokotoa');
					element.href = "https://www.iqi7.com/hitokoto-now/index.php?id=" + e.id;
					$("#hitokoto").stop().fadeIn()
				})
			};
			function genHitokoto() {
				var e = ["a", "b", "c", "d"],
				t = document.createElement("script");
				t.type = "text/javascript";
				t.id = "hitokotoko_js";
				t.src = "https://www.iqi7.com/hitokoto.php?cat=" + e[Math.floor(Math.random() * e.length)];
				$("#hitokoto").append(t);
			};
			setInterval(genHitokoto, 1e4);
			genHitokoto();
		</script>
		<nav class="header-hitokoto">
			<a id="hitokotoa" href="#" target="_blank">
				<span id="hitokoto"></span>
			</a>
		</nav>
	</header>		
</div>
