<div id="footerContent"  class="rgba-black-slight">
<footer class="pt-5">
  <div class="text-center py-3">
    <div class="footer-theme">
      <a href="https://hexo.io" target="_blank" rel="nofollow noopener noreferrer">Hexo</a> theme <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="nofollow noopener noreferrer">Fluid</a> mod by <a href="https://github.com/julydate" target="_blank" rel="nofollow noopener noreferrer">Julydate</a>
    </div>
    <div class="footer-copyright">
        <% if(theme.footer.show_copyright) { %>
          ©<%= date(new Date(), 'YYYY') %>&nbsp;<%= config.author || config.title %>
        <% } %>
        <% if(theme.footer.show_copyright && theme.footer.date.enable) { %>
          <i class="iconfont icon-love"></i>
        <% } %>
        <% if(theme.footer.date.enable) { %>
          <span>勉强运行<span id="runtime"></span>天</span>
        <% } %>
    </div>
    <% if(theme.footer.beian.enable) { %>
      <a href="http://beian.miit.gov.cn/" target="_blank"
         rel="nofollow noopener noreferrer"><%- theme.footer.beian.icp_text %></a>
      <% if(theme.footer.beian.police_text && theme.footer.beian.police_code) { %>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=<%- theme.footer.beian.police_code %>"
           target="_blank" rel="nofollow noopener noreferrer"> | <%- theme.footer.beian.police_text %></a>
      <% } %>
    <% } %>
    <% if(theme.footer.hitokoto) { %>
      <div class="footer-hitokoto">
			  <a id="hitokotoa" href="#" target="_blank" rel="nofollow noopener noreferrer">
				  <span id="hitokoto"></span>
			  </a>
      </div>
    <% } %>
  </div>
</footer>
</div>
<%- partial('_partial/scripts.ejs') %>