<!DOCTYPE html>
<html lang="<%= config.language %>">
<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
%>
<%- partial('_partial/head') %>
<body class="banner-bg">
  <%- partial('_partial/sidebar') %>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="view intro-2 rgba-black-slight" id="background">
      <div class="full-bg-img">
        <div class="mask flex-center">
          <div class="container text-center white-text fadeInUp">
            <span class="h2" id="subtitle">
              <% if(theme.fun_features.typing.enable == false) { %>
                <%- subtitle %>
              <% } %>
            </span>
            <% if(is_post()) { %>
              <br>
              <p class="mt-3">
                <%- full_date(page.date, theme.post.date_format) %>&nbsp;|&nbsp;
                <i class="far fa-chart-bar"></i>
                <span class="post-count"><%= wordcount(page.content) %></span>字&nbsp;|&nbsp;
                <i class="far fa-clock"></i>
                <span class="post-count"><%= min2read(page.content) %></span>分钟
                <% if(theme.post.pageview) { %>
                  <span id="busuanzi_container_page_pv" style="display:none">
                    &nbsp;|&nbsp;
                    <i class="far fa-eye"></i>
                    <span id="busuanzi_value_page_pv"></span>次
                  </span>
                <% } %>
              </p>
            <% } %>
          </div>
          <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height) { %>
            <div class="scroll-down-bar">
              <i class="fa fa-angle-down scroll-down-arrow"></i>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </header>
  <main id="mainContent" class="rgba-black-slight">
    <% if(is_post() || page.layout == '404') { %>
      <%- body %>
    <% } else { %>
      <div class="container nopadding-md" style="padding-top:0.5rem;padding-bottom:0.5rem;">
        <div class="py-5 z-depth-3" id="board">
          <% if(page.layout == 'about') { %>
            <div class="about-avatar">
              <img src="<%- url_for(theme.avatar) %>"
                   class="img-fluid z-depth-1 rounded-circle"
                   alt="avatar">
            </div>
          <% } %>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 m-auto">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </main>
  <% if (theme.scroll_top_arrow.enable) { %>
    <a class="z-depth-1" id="scroll-top-button" href="#" role="button">
      <i class="fa fa-chevron-up scroll-top-arrow" aria-hidden="true"></i>
    </a>
  <% } %>
  <% if(theme.search.enable) { %>
    <%- partial('_partial/search') %>
  <% } %>
  <div id="footerContent"  class="rgba-black-slight">
    <%- partial('_partial/footer', { data: { 'subtitle': subtitle } }) %>
  </div>
  <script>
    /*切换背景*/
    <% if(theme.full_bg_img) { %>
    $("#background").removeClass("banner-bg");
    $("body").addClass("banner-bg");
    var postToTopHight = $("#board").offset().top;
    $(window).scroll(function () {
      var bgDisplay = false;
      var scrollHeight = document.body.scrollTop + document.documentElement.scrollTop;
      bgDisplay = scrollHeight >= postToTopHight;
      if(bgDisplay) {
        $('#background').removeClass("rgba-black-slight");
        $('#mainContent').removeClass("rgba-black-slight");
        $('#footerContent').removeClass("rgba-black-slight");
      } else {
        /* $('body').removeAttr("style") */
        $('#background').addClass("rgba-black-slight");
        $('#mainContent').addClass("rgba-black-slight");
        $('#footerContent').addClass("rgba-black-slight");
      }
    });
    <% } else { %>
      $("body").removeClass("banner-bg");
      $("#background").addClass("banner-bg");
      $('#mainContent').removeClass("rgba-black-slight");
      $('#footerContent').removeClass("rgba-black-slight");
      if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent) || (/Safari/i.test(navigator.userAgent) && !/Chrome/i.test(navigator.userAgent))) {
        $("#background").css("background-attachment", "scroll");
      }
    <% } %>
  </script>
  <% if(theme.fun_features.snow.enable) { %>
  <script type="text/javascript">
  /* 雪花 code by kvv.me */
  ~function () {
    function t() {
        e.width = window.innerWidth,
        e.height = window.innerHeight,
        o = Math.round(window.innerWidth * window.innerHeight / 1e4)
    }
    function n() {
        var t = window.innerWidth
          , d = window.innerHeight
          , c = e.getContext("2d");
        c.clearRect(0, 0, t, d),
        c.fillStyle = "<%= theme.fun_features.snow.color %>",
        c.beginPath(),
        a += .01;
        for (var u = 0; o > u; u++) {
          var l = r[u];
          if (!l) {
            continue
          }
          ;c.moveTo(l.x, l.y),
          c.arc(l.x, l.y, l.radius, 0, 2 * Math.PI, !0),
          l.y += Math.cos(a) + l.radius / 2,
          l.x += Math.sin(a * l.direction),
          (l.x > t + 5 || -5 > l.x || l.y > d) && (u % 3 > 0 ? (r[u].x = Math.random() * t,
          r[u].y = -10) : Math.sin(a * l.direction) > 0 ? (r[u].x = -5,
          r[u].y = Math.random() * d) : (r[u].x = t + 5,
          r[u].y = Math.random() * d))
        }
        c.fill(),
        i(n)
    }
    var e = document.createElement("canvas")
      , i = requestAnimationFrame || msRequestAnimationFrame || function(t) {
        setTimeout(t, 16)
      }
    , a = 0
    , o = 0
    , r = [];
    t(),
    e.className = "snow",
    document.body.appendChild(e);
    for (var d = 0; o > d; d++)
      r.push({
          x: Math.random() * window.innerWidth,
          y: Math.random() * window.innerHeight,
          radius: 4 * Math.random() + 1,
          direction: 2 * Math.random() - .5
      });
    addEventListener("resize", t),
    i(n)
  }();
  </script>
  <% } %>
  <%- partial('_partial/analytics.ejs') %>
  <% if(is_post() && theme.post.pageview) { %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <% } %>
</body>
</html>
